In [133]:
import pandas as pd

In [134]:
df = pd.read_csv('/Users/shilpa/Downloads/2016_ETL_distracted.csv')
df

,statenum,casenum,vnumber,crashtype,dridistract,driavoidmanvr,drivisobs
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48.0,1.0,1.0,86.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,98.0,0.0
...,...,...,...,...,...,...,...
5329,48.0,3525.0,2.0,49.0,0.0,98.0,0.0
5330,48.0,3526.0,1.0,24.0,0.0,98.0,0.0
5331,48.0,3526.0,2.0,25.0,0.0,98.0,0.0
5332,48.0,3527.0,1.0,28.0,0.0,98.0,0.0
5333,48.0,3527.0,2.0,29.0,0.0,98.0,0.0

In [135]:
df1 = df.rename(columns={'statenum': 'State Name', 
                         'casenum': 'CaseNo', 
                         'vnumber': 'VehicleNo', 
                         'crashtype': 'CrashType',
                        'dridistract': 'Distracted By',
                        'driavoidmanvr': "Driver's Action",
                        'drivisobs': 'Obscured Vision'})
df1

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48.0,1.0,1.0,86.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,98.0,0.0
...,...,...,...,...,...,...,...
5329,48.0,3525.0,2.0,49.0,0.0,98.0,0.0
5330,48.0,3526.0,1.0,24.0,0.0,98.0,0.0
5331,48.0,3526.0,2.0,25.0,0.0,98.0,0.0
5332,48.0,3527.0,1.0,28.0,0.0,98.0,0.0
5333,48.0,3527.0,2.0,29.0,0.0,98.0,0.0

In [136]:
df1.dropna()

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
1,48.0,1.0,1.0,86.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,98.0,0.0
5,48.0,3.0,1.0,1.0,0.0,98.0,0.0
...,...,...,...,...,...,...,...
5329,48.0,3525.0,2.0,49.0,0.0,98.0,0.0
5330,48.0,3526.0,1.0,24.0,0.0,98.0,0.0
5331,48.0,3526.0,2.0,25.0,0.0,98.0,0.0
5332,48.0,3527.0,1.0,28.0,0.0,98.0,0.0
5333,48.0,3527.0,2.0,29.0,0.0,98.0,0.0

In [137]:
 df1.dtypes

State Name         float64
CaseNo             float64
VehicleNo          float64
CrashType          float64
Distracted By      float64
Driver's Action    float64
Obscured Vision    float64
dtype: object

In [138]:
df2 = df1.dropna()
df2.head()

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
1,48.0,1.0,1.0,86.0,0.0,98.0,0.0
2,48.0,1.0,2.0,87.0,0.0,98.0,0.0
3,48.0,1.0,3.0,98.0,0.0,0.0,0.0
4,48.0,2.0,1.0,6.0,0.0,98.0,0.0
5,48.0,3.0,1.0,1.0,0.0,98.0,0.0

In [139]:
df3 = df2.astype(int)
df3

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
1,48,1,1,86,0,98,0
2,48,1,2,87,0,98,0
3,48,1,3,98,0,0,0
4,48,2,1,6,0,98,0
5,48,3,1,1,0,98,0
...,...,...,...,...,...,...,...
5329,48,3525,2,49,0,98,0
5330,48,3526,1,24,0,98,0
5331,48,3526,2,25,0,98,0
5332,48,3527,1,28,0,98,0
5333,48,3527,2,29,0,98,0

In [140]:
all_integer = pd.DataFrame(df3)
all_integer

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
1,48,1,1,86,0,98,0
2,48,1,2,87,0,98,0
3,48,1,3,98,0,0,0
4,48,2,1,6,0,98,0
5,48,3,1,1,0,98,0
...,...,...,...,...,...,...,...
5329,48,3525,2,49,0,98,0
5330,48,3526,1,24,0,98,0
5331,48,3526,2,25,0,98,0
5332,48,3527,1,28,0,98,0
5333,48,3527,2,29,0,98,0

In [141]:
df3.head()

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision
1,48,1,1,86,0,98,0
2,48,1,2,87,0,98,0
3,48,1,3,98,0,0,0
4,48,2,1,6,0,98,0
5,48,3,1,1,0,98,0

In [142]:
df2['CaseNo'] = [str(int(CaseNo)).zfill(4) for CaseNo in df2['CaseNo']]
df2['VehicleNo'] = [str(int(VehicleNo)).zfill(4) for VehicleNo in df2['VehicleNo']]
df2["ID"] = df2['CaseNo'] + df2['VehicleNo']

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [143]:
distracted_by = pd.read_csv('/Users/shilpa/Library/Containers/com.microsoft.Excel/Data/Desktop/Driver_distracted_by_Code Definitions.csv')
distracted_by

    ID                                                Def
0    0                                  (0)Not Distracted
1    1                          (1)Looked But Did Not See
2    3                            (3)By Other Occupant(s)
3    4                   (4)By A Moving Object In Vehicle
4    5    (5)While Talking Or Listening To Cellular Phone
5    6               (6)While Manipulating Cellular Phone
6    7             (7)Adjusting Audio Or Climate Controls
7    9  (9)While Using Other Component/Controls Integr...
8   10  (10)While Using Or Reaching For Device/Object ...
9   12  (12)Distracted By Outside Person, Object Or Event
10  13                             (13)Eating Or Drinking
11  14                                (14)Smoking Related
12  15                   (15)Other Cellular Phone Related
13  16    (16)No Driver Present/Unknown If Driver Present
14  17                        (17)Distraction/Inattention
15  18                           (18)Distraction/Careless
16  19                           (19)Careless/Inattentive
17  92      (92)Distraction (Distracted), Details Unknown
18  93     (93)Inattention (Inattentive), Details Unknown
19  96                                   (96)Not Reported
20  97                 (97)Lost In Thought / Day Dreaming
21  98                              (98)Other Distraction
22  99                          (99)Unknown If Distracted

In [144]:
distracted_by["Def"].iloc[0]

'(0)Not Distracted'

In [145]:
a = all_integer["Distracted By"].iloc[0] = distracted_by["ID"][0]
a

0

In [146]:
distracted_by.loc[1]

ID                             1
Def    (1)Looked But Did Not See
Name: 1, dtype: object

In [147]:
distracted_by.loc[distracted_by['ID']==0,['Def']]

                 Def
0  (0)Not Distracted

In [148]:
distracted_by.astype(str)

    ID                                                Def
0    0                                  (0)Not Distracted
1    1                          (1)Looked But Did Not See
2    3                            (3)By Other Occupant(s)
3    4                   (4)By A Moving Object In Vehicle
4    5    (5)While Talking Or Listening To Cellular Phone
5    6               (6)While Manipulating Cellular Phone
6    7             (7)Adjusting Audio Or Climate Controls
7    9  (9)While Using Other Component/Controls Integr...
8   10  (10)While Using Or Reaching For Device/Object ...
9   12  (12)Distracted By Outside Person, Object Or Event
10  13                             (13)Eating Or Drinking
11  14                                (14)Smoking Related
12  15                   (15)Other Cellular Phone Related
13  16    (16)No Driver Present/Unknown If Driver Present
14  17                        (17)Distraction/Inattention
15  18                           (18)Distraction/Careless
16  19                           (19)Careless/Inattentive
17  92      (92)Distraction (Distracted), Details Unknown
18  93     (93)Inattention (Inattentive), Details Unknown
19  96                                   (96)Not Reported
20  97                 (97)Lost In Thought / Day Dreaming
21  98                              (98)Other Distraction
22  99                          (99)Unknown If Distracted

In [149]:
int(distracted_by.index[distracted_by['ID'] == 0][0])

0

In [150]:
distracted_by["Def"].iloc[0]

'(0)Not Distracted'

In [159]:
import re
df3 = df2.dropna()
for i in range (0, 5336):
    idx = int(distracted_by.index[distracted_by['ID'] == df3["Distracted By"].iloc[i]][0])
    a = distracted_by["Def"].iloc[idx]
    df3["Distracted By"].iloc[i] = re.sub(r'\(\d+\)',"", a)
print(df3)

IndexError: single positional indexer is out-of-bounds

In [158]:

df3 
#for i in range (0, 5336):
    #idx = int(distracted_by.index[distracted_by['ID'] == df3["Distracted By"].iloc[i]][0])
    #distracted_by["Def"].iloc[idx] = df3["Distracted By"].iloc[i] 
#df3

,State Name,CaseNo,VehicleNo,CrashType,Distracted By,Driver's Action,Obscured Vision,ID
1,48.0,0001,0001,86.0,Not Distracted,98.0,0.0,00010001
2,48.0,0001,0002,87.0,Not Distracted,98.0,0.0,00010002
3,48.0,0001,0003,98.0,Not Distracted,0.0,0.0,00010003
4,48.0,0002,0001,6.0,Not Distracted,98.0,0.0,00020001
5,48.0,0003,0001,1.0,Not Distracted,98.0,0.0,00030001
...,...,...,...,...,...,...,...,...
5329,48.0,3525,0002,49.0,Not Distracted,98.0,0.0,35250002
5330,48.0,3526,0001,24.0,Not Distracted,98.0,0.0,35260001
5331,48.0,3526,0002,25.0,Not Distracted,98.0,0.0,35260002
5332,48.0,3527,0001,28.0,Not Distracted,98.0,0.0,35270001
5333,48.0,3527,0002,29.0,Not Distracted,98.0,0.0,35270002